<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Usage access is explicitly granted by the user in Settings and checked through AppOps. -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:name=".VaultApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Nuvori"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivateVault">
        <service android:name=".passkeys.VaultCredentialService" android:exported="true" tools:targetApi="34"
            android:enabled="@bool/passkey_provider_enabled" android:label="Nuvori" android:icon="@mipmap/ic_launcher"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">
            <intent-filter><action android:name="android.service.credentials.CredentialProviderService" /></intent-filter>
            <meta-data android:name="android.credentials.provider" android:resource="@xml/credential_provider" />
        </service>
        <service android:name=".autofill.VaultAutofillService" android:exported="true"
            android:label="Nuvori" android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/autofill_service" />
        </service>
        <service android:name=".VaultCodesTileService" android:exported="true"
            android:label="Vault codes" android:icon="@drawable/ic_vault_codes"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity android:name=".VaultCodesActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true" android:taskAffinity="${applicationId}.codes"
            android:theme="@style/Theme.PrivateVault.Codes" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.camera"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/camera_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
